{% extends 'layout.html' %}

{% block main_page %}

<div class="wrapper">

    <div class="cascade_block">

        <div class="cascade_menu">
            <p class="info_name">Выберите фигуру</p>

            <div class="cascade_block_li">
                <ul>
                    <li class="checkmark"><a href="{{ url_for('figures.qub') }}">Куб</a></li>
                    <li class="checkmark"><a href="{{ url_for('figures.cilindr') }}">Цилиндр</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>

{% endblock main_page %}