{% extends 'layout.html' %}


{% block main_page %}

<div class="Qub_perimetr" >
        <div class="login_form new_post" >
            <h1>О нас</h1>
            <h4> Это сайт предназначен для обучения стереометрии. На данном сайте собран теоретический материал для изучения стереометрии. Так же вы можете коммуницировать с другими пользователями данного сайта благодаря постам, если вам есть о чем рассказать или вы хотите что-то спросить у людей, то можете написать пост. На сайте присутствует калькулятор для быстрого подсчета параметров фигур. Если вы хотите попрактиковать свои знания, то вы можете пройти тест/задачи.</h4>
        </div>
</div>

{% endblock main_page %}