{% extends 'layout.html' %}


{% block main_page %}

<div class="wrapper">

    <div class="cascade_block">

        <div class="cascade_menu">
            <p class="info_name">Теоретический материал</p>

            <div class="cascade_block_li">
                <ul>
                    <li class="checkmark"><a href="https://www.evkova.org/mnogogrannik" target="_blank">Многогранник</a></li>
                    <li class="checkmark"><a href="https://foxford.ru/wiki/matematika/cilindr-i-ego-svojstva" target="_blank">Цилиндр</a></li>
                    <li class="checkmark"><a href="https://foxford.ru/wiki/matematika/kruglye-tela">Круглые тела</a></li>
                </ul>
            </div>
        </div>
    </div>


</div>

{% endblock main_page %}